@import '../common.scss';

.topBar {
  @extend .bg-primary-black;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bookNowButton {
  @extend .bg-primary-red;
  @extend .font-primary-white;

  padding: 10px 20px;
}

.header {
  @extend .bg-primary-blue;
  @extend .font-primary-black;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navBar {
  @extend .bg-secondary-blue;
  @extend .font-primary-white;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;

    li {
      a {
        @extend .font-primary-white;
        @extend .font-hover-primary-red;

        text-transform: uppercase;
      }
      padding: 20px;
      list-style-type: none;
    }
  }
}
