@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

.f-primary-black,
.f-primary-black a,
.font-primary-black a:visited
{
  font-family: $primary-font;
  color: $primary-black;
}

.font-primary-red {
  font-family: $primary-font;
  color: $primary-red;
}

.font-hover-primary-red:hover {
  color: $primary-red;
}

.font-primary-white {
  font-family: $primary-font;
  color: $primary-white;
}

.bg-primary-blue {
  background-color: $primary-blue;
}

.bg-secondary-blue {
  background-color: $secondary-blue;
}

.bg-primary-red {
  background-color: $primary-red;
}

.bg-primary-black {
  background-color: $primary-black;
}

.f-bold {
  font-weight: bold;
}

.f-italic {
  font-style: italic;
}
