$primary-blue: rgb(191, 239, 239);
$secondary-blue: rgb(111, 142, 142);
$primary-red: rgb(202, 78, 114);
$primary-black: rgb(0, 0, 0);
$primary-white: rgb(255, 255, 255);

$primary-font: 'Gabriela', 'serif';

